### Pratica de machine learning
Algoritmo Naïve Bayes

In [2]:
# Importação das bibliotecas
import pandas as pd
import sklearn as skl
import seaborn as srn 
import statistics as sts

In [3]:
ds = pd.read_csv('melb_data.csv')
ds.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [14]:
ds['Landsize'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 13580 entries, 0 to 13579
Series name: Landsize
Non-Null Count  Dtype
--------------  -----
13580 non-null  float64
dtypes: float64(1)
memory usage: 106.2 KB

In [4]:
ds['BuildingArea'].isnull().sum()

6450

In [5]:
mean = sts.median(ds['BuildingArea'])
mean

134.5

In [7]:
mean2 = mean / 2
mean2

67.25

In [20]:
ds['BuildingArea'].isnull().sum()

1193

In [16]:
ds.loc[(ds['Landsize'] < 134.5), 'BuildingArea'] = mean

In [17]:
ds['BuildingArea'].isnull().sum()

5257

In [24]:
ds.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,134.50,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,134.50,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,134.5,134.5,134.5,134.5,134.5,134.5,134.5,134.5,134.5,134.5,...,134.5,134.5,134.5,134.50,134.5,134.5,134.5000,134.5000,134.5,134.5
3,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,67.25,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,134.5,134.5,134.5,134.5,134.5,134.5,134.5,134.5,134.5,134.5,...,134.5,134.5,134.5,134.50,134.5,134.5,134.5000,134.5000,134.5,134.5

In [25]:
ds['BuildingArea'].describe()

count    13580.000000
mean       121.936432
std         26.212732
min         67.250000
25%        134.500000
50%        134.500000
75%        134.500000
max        134.500000
Name: BuildingArea, dtype: float64

In [26]:
ds.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,134.50,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,134.50,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,134.5,134.5,134.5,134.5,134.5,134.5,134.5,134.5,134.5,134.5,...,134.5,134.5,134.5,134.50,134.5,134.5,134.5000,134.5000,134.5,134.5
3,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,67.25,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,134.5,134.5,134.5,134.5,134.5,134.5,134.5,134.5,134.5,134.5,...,134.5,134.5,134.5,134.50,134.5,134.5,134.5000,134.5000,134.5,134.5